In [12]:
import torch
import pandas as pd
from torch_geometric.data import Dataset, Data
from torch_geometric.utils.convert import to_networkx
import networkx as nx
import numpy as np

In [28]:
books = pd.read_csv("Book-Crossing\BX-Books.csv", encoding='ISO-8859-1', sep=";", on_bad_lines='skip')
users = pd.read_csv("Book-Crossing\BX-Users.csv", encoding='ISO-8859-1', sep=";", on_bad_lines='skip')
reviews = pd.read_csv("Book-Crossing\BX-Book-Ratings.csv", encoding='ISO-8859-1', sep=";", on_bad_lines='skip')

C:\Users\Dylan\AppData\Local\Temp/ipykernel_20532/366065871.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("Book-Crossing\BX-Books.csv", encoding='ISO-8859-1', sep=";", on_bad_lines='skip')

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [29]:
books.head()

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [30]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [31]:
reviews.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [34]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [34]:
amazon = pd.read_csv("rec-amz-Books.edges", header=None)
amazon.columns=['node', 'edge', 'e_weight', 'e_time']
amazon.head()

             node        edge  e_weight      e_time
0   AH2L9G3DQHHAJ  0000000116       4.0  1019865600
1  A2IIIDRK3PRRZY  0000000116       1.0  1395619200
2  A1TADCM7YWPQ8M  0000000868       4.0  1031702400
3   AWGH7V0BDOJKB  0000013714       4.0  1383177600
4  A3UTQPQPM4TQO0  0000013714       5.0  1374883200

In [35]:
from sklearn import preprocessing
labels = amazon['node']
le = preprocessing.LabelEncoder()
targets = le.fit_transform(labels)

In [36]:
len(targets)
score = np.asarray(amazon['e_weight'], dtype=np.float32)
edge_time = np.asarray(amazon['e_time'], dtype=np.int64)
#temp = np.asarray(amazon[1], dtype=np.int64)

In [62]:
#amazon.rename( columns = {'1':'Edge'}, inplace=True)
edge_df = pd.DataFrame(amazon['edge'], dtype='string')
edge_df.head()
missing = pd.DataFrame(edge_df['edge'].str.contains('X'))

In [71]:
missing['index1'] = missing.index
missing.groupby(['edge'], ).count()

         index1
edge
False  20325670
True    2181485

In [10]:
node_ids = torch.tensor(targets)
edge = torch.tensor(int(amazon[1]))
edge_weight = torch.tensor(score)
edge_timestamp = torch.tensor(edge_time)

TypeError: cannot convert the series to <class 'int'>

In [ ]:
import chardet
file = "Book-Crossing\BX-Books.csv"
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

In [ ]:
@inproceedings{nr-aaai15,
      title = {The Network Data Repository with Interactive Graph Analytics and Visualization},
      author={Ryan A. Rossi and Nesreen K. Ahmed},
      booktitle = {AAAI},
      url={http://networkrepository.com},
      year={2015}
  }